<div>

    <% usuarios.forEach(function(usuarios) { %>
        <img src="<%= usuarios.imagen %>">
        <p><%= usuarios.expediente %></p>
        <p><%= usuarios.nombre %></p>
        <p><%= usuarios.area %></p>
        <p><%= usuarios.departamento %></p>
        <p><%= usuarios.automovil %></p>
    <% }) %>

</div>