<div>

    <% usuario.forEach(function(usuario) { %>
        <img src="<%= usuario.imagen %>">
        <p><%= usuario.expediente %></p>
        <p><%= usuario.nombre %></p>
        <p><%= usuario.area %></p>
        <p><%= usuario.departamento %></p>
    <% }) %>

</div>